<div fxLayout="column" >
  <mat-card >
    <mat-card-title>Simple datepicker</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <mat-form-field>
        <input matInput [matDatepicker]="simplePicker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="simplePicker"></mat-datepicker-toggle>
        <mat-datepicker #simplePicker></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-card >
    <mat-card-title>json gregorian input</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <mat-form-field>
        <input matInput [matDatepicker]="picker6" placeholder="Choose a date" [formControl]="dateControl">
        <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
        <mat-datepicker #picker6></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
